html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

img {
  display: block;
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
}

.md-button.md-fab.md-fab-menu {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  position: fixed;
  opacity: 0.3;
}

.md-button.md-fab.md-fab-menu:hover {
  opacity: 1;
}

#district-select {
  padding: 0;
  height: 60px;
}

#district-select-content {
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  width: 288px;
}

.sidenav-back-arrow {
  width: 25px !important;
}

.page-header-bar {
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #e53935;
}

.district-heading {
  margin: 30px 0 10px 10px;
  font-weight: 300;
}

.district-subheading {
  margin: 10px 0 10px 0;
  font-weight: 300;
}

.card-button {
  padding: 0;
  margin: 0 10px 0 0;
  min-width: 320px;
  border-radius: 0px;
  text-align: left;
  text-transform: none;
}

.district-card {
  margin: 15px 0 0 0;
}

.district-card-sub {
  margin-top: -3px;
}

.member-avatar {
  height: 70px;
  width: 70px;
  border-radius: 35px;
  margin-top: 10px;
}


/* CONGRESS MEMBER PAGE */
.member-img-lg {
  border-radius: 50%;
  overflow: hidden;
}

.overview-info {
  margin: 0;
}

.overview-info-stats {
  padding: 0;
  font-weight: bold;
}

.overview-issues-headline {
  margin-bottom: 10px;
}

.overview-bar-label {
  text-align: center;
}
.overview-bar-label .md-subhead {
  font-weight: 500;
}
.overview-bar-label-dem {
  text-align: right;
  padding-right: 10px;
  color: #0d47a1;
}
.overview-bar-label-rep {
  text-align: left;
  padding-left: 10px;
  color: #b71c1c;
}


.overview-bar-container {
  position: relative;
  top: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.overview-bar-dem {
  min-height: 20px;
  background-color: #2196f3;
  float: left;
}
.overview-bar-rep {
  min-height: 20px;
  background-color: #e53935;
  float: left;
}

.search-button {
  margin: 0;
  width: 100%;
  height: 40px;
}

.member-search-result {
  margin: 15px 5px !important;
}

.md-list-item-text h3 {
  white-space: normal !important;
}


.timeline-filters {
  position: fixed;
}
#timeline-results-filler {
  min-width: 180px;
}

.timeline-list-item {
  margin: 0 !important;
  padding: 0 !important;
}
.timeline-list-item-date {
  margin: 16px 20px !important;
  min-width: 85px;
  text-align: right;
}
.timeline-list-item-text {
  margin: 5px 0 !important;
}
