<div layout="column" style="height:100%" ng-cloak>
  <section layout="row" layout-fill>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-theme="sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <!--<md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>-->
      <md-content layout-padding ng-controller="SideNavCtrl" style="height:1000px">

        <md-menu md-offset="0 56" layout="column" id="district-select">
          <md-button class="md-primary md-raised" ng-click="openMenu($mdOpenMenu, $event)" flex>
            <div layout="row">
              <div layout="column" layout-align="center start" flex>
                {{ district.name }}
              </div>
              <div layout="column" layout-align="center end" flex>
                <div>
                  <md-icon md-svg-icon="img/icons/expand_more.svg">Other Districts</md-icon>
                </div>
              </div>
            </div>
          </md-button>
          <md-menu-content width="4" class="md-default-theme" id="district-select-content">
            <md-menu-item ng-repeat="district in savedDistricts">
              <md-button ng-click="selectDistrict(district.id)">
                {{district.name}}
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="searchDistrict()">
                Search districts
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

        <!--
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </md-button>
        
        <p hide-md show-gt-md>
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
        </p>
        -->
        <md-list>
          <md-subheader class="md-no-sticky">Representative</md-subheader>
          {{ rep = district.representative;'' }}
          <md-list-item class="md-2-line" ng-click="selectMember(rep.id); close()">
            <img ng-src="{{ rep.img_url }}" class="md-avatar" alt="{{rep.first_name}} {{rep.last_name}}" />
            <div class="md-list-item-text" layout="column">
              <h3>{{ rep.first_name }} {{ rep.last_name }}</h3>
              <p>{{ rep.party }}</p>
            </div>
          </md-list-item>
        </md-list>

        <md-list>
          <md-subheader class="md-no-sticky">Senators</md-subheader>
          <md-list-item class="md-2-line" ng-repeat="senator in district.senators" ng-click="selectMember(senator.id); close()">
            <img ng-src="{{ senator.img_url }}" class="md-avatar" alt="{{senator.first_name}} {{senator.last_name}}" />
            <div class="md-list-item-text" layout="column">
              <h3>{{ senator.first_name }} {{ senator.last_name }}</h3>
              <p>{{ senator.party }}</p>
            </div>
          </md-list-item>
        </md-list>
        
      </md-content>
    </md-sidenav>
    <md-content layout-fill flex>
      <div layout="column" layout-fill layout-align="start">
        <md-button class="md-fab md-fab-menu md-primary" aria-label="Toggle sidenav" ng-click="toggleSideNav()" hide-gt-md>
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        
        <!-- THIS IS THE mainContent view - it is filled with whatever template we wanna put in it -->
        <div ui-view name="mainContent" layout-fill>
        </div>

      </div>
      <div flex>
      </div>
    </md-content>
  </section>
</div>