<div layout="vertical" ng-cloak>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="SideNavCtrl">
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </md-button>
        <p hide-md show-gt-md>
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
        </p>
      </md-content>
    </md-sidenav>
    <md-content flex layout-padding>
      <div layout="vertical" layout-fill layout-align="top center">
        <md-button class="md-fab md-fab-top-left md-primary" aria-label="Toggle sidenav" ng-click="toggleSideNav()" hide-gt-md>
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        
        <!-- THIS IS THE mainContent view - it is filled with whatever template we wanna put in it -->
        <div ui-view name="mainContent">
        </div>

      </div>
      <div flex>
      </div>
    </md-content>
  </section>
</div>