<div layout="vertical" ng-cloak>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="SideNavCtrl">

        <md-menu md-offset="0 0">
          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item ng-repeat="district in [1,2,3]">
              <md-button ng-click="ctrl.announceClick($index)"> <span md-menu-align-target>Option</span> {{district}} </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

        <!--<md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </md-button>-->

        <p hide-md show-gt-md>
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
        </p>
      </md-content>
    </md-sidenav>
    <md-content flex>
      <div layout="vertical" layout-fill layout-align="top center">
        <md-button class="md-fab md-fab-top-left md-primary" aria-label="Toggle sidenav" ng-click="toggleSideNav()" hide-gt-md>
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        
        <!-- THIS IS THE mainContent view - it is filled with whatever template we wanna put in it -->
        <div ui-view name="mainContent" layout-fill>
        </div>

      </div>
      <div flex>
      </div>
    </md-content>
  </section>
</div>