<div layout-fill layout-wrap layout="row" layout-align="start">
	<div flex="100" class="page-header-bar">
		<h1 class="md-display-2 district-heading"> {{ district.name }} Congressional District</h1>
	</div>

	<div layout-fill layout-padding layout-wrap layout-align="start" layout="">

	<div ng-init="rep = district.representative">
		<h2 class="md-display-1 district-subheading">Representative</h2>
	  <md-card class="md-button card-button">
	    <md-card-title>
	      <md-card-title-media>
	        <div class="md-media-sm card-media">
	        	<!--<img ng-src="{{ rep.img_url }}" alt="{{ rep.first_name }} {{ rep.last_name }}">-->
	        </div>
	      </md-card-title-media>
	      <md-card-title-text>
	        <span class="md-headline">{{ rep.first_name }} {{ rep.last_name }} </span>
	        <span class="md-subhead">({{ rep.party[0] }})</span>
	        <span class="md-subhead">since {{ rep.office_start }}</span>
	      </md-card-title-text>
	    </md-card-title>
	  </md-card>
  </div>

  <div>
		<h2 class="md-display-1 district-subheading">Senators</h2>
	  <span ng-repeat="senator in district.senators">
	  <md-card class="md-button card-button">
	    <md-card-title>
	      <md-card-title-media>
	        <div class="md-media-sm card-media">
	        	<!--<img ng-src="{{ senator.img_url }}" alt="{{ senator.first_name }} {{ senator.last_name }}">-->
	        </div>
	      </md-card-title-media>
	      <md-card-title-text>
	        <span class="md-headline">{{ senator.first_name }} {{ senator.last_name }}</span>
	        <span class="md-subhead">({{ senator.party[0] }})</span>
	        <span class="md-subhead">since {{ senator.office_start }}</span>
	      </md-card-title-text>
	    </md-card-title>
	  </md-card>
	  </span>
  </div>

</div>