<div layout-fill layout-wrap layout="row" layout-align="start">
	<div flex="100" class="page-header-bar">
		<h1 class="md-display-2 district-heading">Ohio's Second Congressional District</h1>
	</div>

	<div layout-fill layout-padding layout-wrap layout-align="start" layout="">

	<div>
		<h2 class="md-display-1 district-subheading">Representative</h2>
	  <md-card class="md-button card-button">
	    <md-card-title>
	      <md-card-title-media>
	        <div class="md-media-sm card-media"></div>
	      </md-card-title-media>
	      <md-card-title-text>
	        <span class="md-headline">Brad Wenstrup</span>
	        <span class="md-subhead">(R)</span>
	        <span class="md-subhead">since 2013</span>
	      </md-card-title-text>
	    </md-card-title>
	  </md-card>
  </div>

  <div>
		<h2 class="md-display-1 district-subheading">Senators</h2>
	  <md-card class="md-button card-button">
	    <md-card-title>
	      <md-card-title-media>
	        <div class="md-media-sm card-media"></div>
	      </md-card-title-media>
	      <md-card-title-text>
	        <span class="md-headline">Rob Portman</span>
	        <span class="md-subhead">(R)</span>
	        <span class="md-subhead">since 2011</span>
	      </md-card-title-text>
	    </md-card-title>
	  </md-card>

	  <md-card class="md-button card-button">
	    <md-card-title>
	      <md-card-title-media>
	        <div class="md-media-sm card-media"></div>
	      </md-card-title-media>
	      <md-card-title-text>
	        <span class="md-headline">Sherrod Brown</span>
	        <span class="md-subhead">(D)</span>
	        <span class="md-subhead">since 2007</span>
	      </md-card-title-text>
	    </md-card-title>
	  </md-card>
  </div>

</div>