<div layout-fill layout-wrap layout="column" layout-align="start">
  <md-content class="md-padding">

    <div layout="row" layout-wrap show-xs hide-gt-xs>
      <div layout="column" layout-margin>
        <div class="member-img-lg">
          <img ng-src="{{member.img_url}}" alt="{{member.first_name}} {{member.last_name}}" width="100" height="100">
        </div>
      </div>
      <div layout="column" layout-align="end" layout-margin flex>
        <div>
          <div layout="row" class="md-body-2">
              {{ member.position }}
          </div>
          <div layout="row" class="md-headline">
            {{ member.first_name }} {{ member.last_name }}
          </div>
          <div layout="row" class="md-body-1">
              <span ng-switch on="member.position">
                <span ng-switch-when="Representative">
                  {{ member.district_name }}
                </span>
                <span ng-switch-when="Senator">
                  {{ member.state }}
                </span>
              </span>
              &nbsp; (since {{ member.office_start }})
          </div>
          <div layout="row" class="md-caption">
              {{ member.party }}
          </div>
        </div>
      </div>
    </div>
    <div layout="row" layout-wrap hide-xs>
      <div layout="column" layout-margin>
        <div class="member-img-lg">
          <img ng-src="{{member.img_url}}" alt="{{member.first_name}} {{member.last_name}}" width="150" height="150">
        </div>
      </div>
      <div layout="column" layout-align="end" layout-margin flex>
        <div>
          <div layout="row" class="md-headline">
              {{ member.position }}
          </div>
          <div layout="row" class="md-display-2">
            {{ member.first_name }} {{ member.last_name }}
          </div>
          <div layout="row" class="md-headline">
              <span ng-switch on="member.position">
                <span ng-switch-when="Representative">
                  {{ member.district_name }}
                </span>
                <span ng-switch-when="Senator">
                  {{ member.state }}
                </span>
              </span>
              &nbsp; (since {{ member.office_start }})
          </div>
          <div layout="row" class="md-subhead">
              {{ member.party }}
          </div>
        </div>
      </div>
    </div>

    <div layout="column" layout-margin>
    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect md-stretch-tabs="always">
      <md-tab id="overview-tab">
        <md-tab-label>Overview</md-tab-label>
        <md-tab-body>
          <div layout="row" layout-margin>
            
          </div>
        </md-tab-body>
      </md-tab>
      <md-tab id="search-tab">
        <md-tab-label>Search</md-tab-label>
        <md-tab-body>
          View for Item #1 <br/>
          data.selectedIndex = 0;
        </md-tab-body>
      </md-tab>
      <md-tab id="timeline-tab">
        <md-tab-label>Timeline</md-tab-label>
        <md-tab-body>
          View for Item #1 <br/>
          data.selectedIndex = 0;
        </md-tab-body>
      </md-tab>
    </md-tabs>
    </div>

  </md-content>
</div>